@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');



*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-image: image("img/fundo3.png");    
}



#sectionGaleria{
    background-image: url(img/fundo3.png);
    width: 100%;
    height: 100%;
    opacity: 1;
}



/*Css da Galeria*/

.gallery-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 2vw;
    padding: 0 1vw;
}


.gallery-items{
    width: 150px;
    height: 250px;
    border: 5px solid #000;
    box-shadow: 5px 5px 5px #0006;
    flex-grow: 1;
    transition: transform .5s linear;
}

header{
    background-image: linear-gradient(to right, #fff, #ddd);
    width: 50%;
    border-radius: 5px;    
}

header h1{
    background: -webkit-linear-gradient(#023047, #219ebc);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;    
    margin-left: 10%;
    padding: 10px;
    font-size: 50px;
    background-color: #000;
    font-family: 'Bebas Neue', cursive;
}

.gallery-items img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery-items:hover{
    transform: scale(1.3);
}

footer{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    font-style: italic;
}

/*Css dos Cards*/

img{
    width: 150px;
    height: 150px;
    border-radius: 3px;
}


.container{
    width: 400px;
    position: relative;
    display: flex;
    justify-content:space-evenly;
    flex-wrap: wrap;
}

.container .card{
    position:relative;
    margin: 0 10px;
    border-radius: 5px;
}

.container .card .face{
    width: 15rem;
    height: 120px;
    transition: 0.5s;
    border-radius: 5px;
}

.container .card .face.face1{
    position: relative;
    display: flex;
    color: #fff;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(20px);
    background-image: linear-gradient(to right, #000000, #242424, #023047);
    font-family: 'Roboto', sans-serif;
}

.container .card:hover .face.face1{
    background-image: linear-gradient(to right, #219ebc, #023047);  
    transition: 0.5s;
}

.container .card:hover .face.face1 .content{
    opacity: 1;
}

.container .card:hover .face.face1 .content h3{ 
    color: #fff;
    margin: 10px 0;
    padding: 0;
    text-align: center;
    font-size: 1.5em;
    font-family: 'Roboto', sans-serif;
}

.container .card .face.face2{
    position: relative;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    transform: translateY(-100px);
}

.container .card:hover .face.face2{
    transform: translateY(0px);
    
}

.container .card:hover .face.face2 .content p{ 
    margin: 0 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.container .card .face.face2 .content a{ 
    margin: 15px 0 0;
    padding: 5px;
    display: inline-block;
    text-decoration: none;
    font-weight: 900;
    color: #333;
    border: 1px solid #333;
    font-family: 'Roboto', sans-serif;
}

.container .card .face.face2 .content a:hover{
    color: #fff;
    background: #333;
    font-family: 'Roboto', sans-serif;
}

/* Cards Contatos */

.rows{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .cards{
    border-radius: 5px;
    box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.22);
    padding: 30px;
    margin: 20px;
    width: 400px;
    transition: all 0.3s ease-out;
    background-image: linear-gradient(to right, #023047, #219ebc);
  }
  .cards:hover {
    transform: translateY(-5px);
    cursor: pointer;
    background-image: linear-gradient(to right, #219ebc, #023047);
    border-left: 10px solid #fff;
  }
   
  .cards h2{
    color: #fff;
    font-family: 'Roboto', sans-serif;
  }
  .cards p {
    color: #fff;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
  }
   
  .images {
    float: right;
    max-width: 64px;
    max-height: 64px;
  }
  .margem {
    border-left: 10px solid #0096c7;
  }